<div class="containaer mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg" placeholder="Ingrese Tarea">
        </div>

        <div class="col-lg-6 offset-lg-3 mt-4">
            <div *ngIf="listaTareas.length === 0" class="card p-2">
                <h6>No hay tareas para mostrar</h6>
            </div>

            <ul class="list-group">
                <li *ngFor="let tarea_x of listaTareas" class="list-group-item">
                    {{auxilar}}
                </li>
              </ul>

        </div>
    </div>
</div>